In [2]:
userName = input("Enter First and Lastname ")

Enter First and Lastname James Brewer

In [3]:
print(userName)

James Brewer

In [6]:
userName[::-1]

'rewerB semaJ'

In [27]:
ranNum = int(input("Enter a Random Number: "))

Enter a Random Number: 10

In [28]:
print(ranNum + 20 + 200)

230

In [29]:
yourCountry = input("What country are you from? ")

What country are you from? United States of America

In [35]:
print("I have heard that " + yourCountry + " is a beautiful country!")

I have heard that United States of America is a beautiful country!

In [38]:
# The out put below is nothing because the if statement is false and there is no else statement to print.

In [37]:
x = 10
y = 50
if (x ** 2 > 100 and y < 100):
    print(x,y)A

In [42]:
# The output of the + operator is adding the 30 and 40 to the list in order. It executes like this because we first defined 
# a is 10, 20 but right after that we defined b as a which makes b 10,20 as well.

In [41]:
a = [10, 20]
b = a
b+= [30, 40]
print(a)
print(b)

[10, 20, 30, 40]
[10, 20, 30, 40]

In [44]:
# The output of the below code is 2 because you cannot put 6 into any number of times so the answer will always be the 
# original number which is 2 in this case.

In [43]:
print(2%6)

2

In [45]:
# The output of the below code is 216. The ** operators "power" indicator. Meaning the 3**3 means 3 to the 3rd power.
# You can also look at it like 3*3*3 which is 27.
# So the new arithmetic would be 2*27*4 which equals 216

In [46]:
print(2 * 3 ** 3 * 4)

216

In [47]:
# A text editor allows you ro build and run code. Also you can edit, make changes to a file, open and view plain text files.

In [48]:
# Python is programming language created by Guido van Rossum around 1991 that is now supported on multiple OS's.

In [ ]:
# Jupyter notebook is a software used to develop open source software generally for Python. It acts as an IDE
# Other alternitives to Jupyter is Notepad++, Pycharm, Visual Studio, Sublime and Spyder to name a few.